html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body { 
  margin: 0;
  font: 62.5%/1.5  Tahoma, Verdana, sans-serif; 
}
.mud { background-color: #aba198; }
.rain { background-color: #b0c6d1; }
.desert { background-color: #e8dbce; }
.warmGrey { background-color: #e8dbce; }
.mocha { background-color: #4c4239; }

.white { background-color: white; }
.green {background-color: lightgreen;}
.yellow {background-color: lightyellow;}
.purple {background-color: magenta;}
.blue {background-color: lightblue;}
.coral {background-color: coral;}
.purple {background-color: lightslategray;}
.pink {background-color: pink;}

.mocha-text { color: #4c4239; }

.section {
  padding: 30px;
}

.section-centered {
  display: grid;
  place-items: center;
  text-align: center;
  padding: 20px;
  white-space: nowrap;
}

.text-xs	{ font-size: .75rem; }
.text-sm	{ font-size: .875rem; }
.text-base	{ font-size: 1rem; }
.text-lg	{ font-size: 1.125rem; }
.text-xl	{ font-size: 1.25rem; }
.text-2xl	{ font-size: 1.5rem; }
.text-3xl	{ font-size: 1.875rem; }
.text-4xl	{ font-size: 2.25rem; }
.text-5xl	{ font-size: 3rem; }
.text-6xl	{ font-size: 4rem; }

.no-underline { text-decoration: none; }


.siteFooter {
  position: fixed; 
  right: 0; bottom: 0; left: 0;
  color: #ddd;
  background: darkslategray;
}
.siteFooter .footerFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.siteFooter .footerFlex a {
  color: white;
  text-decoration: none;
  font-size: 1em;
  text-align: center;
  border: 1px solid gray;
  padding: 1px 4px;
  min-width: 20px;
}
